append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/item.min.css')

h2(ng-if="myAds.length > 0  ") {{ i18n_myAdsTitle }}
h2.text-center(ng-if="myAds.length < 1") {{ i18n_no_results }}

.ui.segment.no-segment
    .ui.divided.items
        .item(ng-repeat="ad in myAds")
            a.image.myAdsList(href='/detail/{{ ad.slug }}/{{ ad._id }}', target="_blank")
                img(ng-src='{{ amazon_base_url }}/{{ ad.photos[ad.photoShowcaseIndex].filename }}', ng-show="{{ ad.photos !== null }}")
                img(ng-src='/img/no-photo.png', ng-show="{{ ad.photos === null }}")
            .content
                a.header(href='/detail/{{ ad.slug }}/{{ ad._id }}' , target="_blank")
                    | {{ ad.title }}
                .description
                    p
                .extra
                    .ui.label(
                            ng-class="{red: ad.status===2 || ad.status === 4, orange: ad.status === 0}"
                        )
                        | {{ ad.statusText }}

                    div.margin-top-10(ng-show="ad.totalActivePower > 0")
                        h4
                            i.ui.rocket.icon
                            | {{ ad.totalActivePower }}

                    .ui.simple.dropdown.right.floated.item
                        | {{ i18n_settings }}
                        i.dropdown.icon
                        .menu
                            a.item(href="./newAd?id={{ ad._id }}")
                                i.edit.icon
                                | {{ i18n_edit }}
                            a.item(href="#!buypower/{{ ad._id }}", ng-show="ad.status === 1")
                                i.rocket.icon
                                | {{ i18n_buy_power }}
                            a.item(href="javascript:;", ng-click="onUnpublish(ad._id)", ng-show="ad.status === 1")
                                i.trash.icon
                                | {{ i18n_unpublish }}

.ui.dimmer(ng-class="{active: loadingMyAds, active:loadingUnpublish }")
    .ui.loader


