append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/table.min.css')

h2 My Ads
.ui.segment.no-segment
    table.ui.striped.table
        tbody
            tr(ng-repeat="ad in myAds")
                td
                    |  {{ ad.title }}
                td.right.aligned
                    a.ui.icon.button.tiny
                        i.edit.icon
    .ui.dimmer(ng-class="{active: loadingMyAds }")
        .ui.loader


