append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/item.min.css')

h2(ng-if="myAds.length > 0  ") My Ads
h2.text-center(ng-if="myAds.length < 1") No Results

.ui.segment.no-segment
    .ui.divided.items
        .item(ng-repeat="ad in myAds")
            a.image.myAdsList(href='/detail/{{ ad.slug }}/{{ ad._id }}', target="_blank")
                img(ng-src='{{ amazon_base_url }}/{{ ad.photos[ad.photoShowcaseIndex].filename }}', ng-show="{{ ad.photos !== null }}")
                img(ng-src='/img/no-photo.png', ng-show="{{ ad.photos === null }}")
            .content
                a.header(href='/detail/{{ ad.slug }}/{{ ad._id }}' , target="_blank")
                    | {{ ad.title }}
                .meta
                    h5.cinema ${{ad.price}}
                .description
                    p
                .extra
                    .ui.label(
                            ng-class="{red: ad.status===2 || ad.status === 4, orange: ad.status === 0}"
                        )
                        | {{ ad.statusText }}
                    a.ui.right.floated.primary.button(href="./newAd?id={{ ad._id }}")
                        | Edit
                        i.right.chevron.icon

.ui.dimmer(ng-class="{active: loadingMyAds }")
    .ui.loader


