append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/table.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/item.min.css')

h2(ng-if="myAds.length > 0  ") My Ads
h2.text-center(ng-if="myAds.length < 1") No Results

.ui.segment.no-segment(ng-if="myAds.length > 0  ")
    .ui.divided.items
        .item(ng-repeat="ad in myAds")
            .image
                img(ng-src='uploads/{{ ad.uuid }}/{{ ad.photos[ad.photoShowcaseIndex].filename }}')
            .content
                a.header {{ ad.title }}
                .meta
                    h5.cinema ${{ad.price}}
                .description
                    p
                .extra
                    .ui.label {{ ad.statusText }}
                    .ui.right.floated.primary.button
                        | Edit
                        i.right.chevron.icon

    .ui.dimmer(ng-class="{active: loadingMyAds }")
        .ui.loader


