append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/item.min.css')

h2(ng-if="myFavourites.length > 0") {{ i18n_favTitle }}
h2.text-center(ng-if="myFavourites.length < 1") {{ i18n_no_results }}

.ui.segment.no-segment
    .ui.divided.items
        .item(ng-repeat="fav in myFavourites")
            a.image(href='/detail/{{ fav.ad.slug }}/{{ fav.ad._id }}', target="_blank")
                img(ng-src='{{ amazon_base_url }}/{{ fav.ad.photos[fav.ad.photoShowcaseIndex].filename }}')
            .content
                a.header(href='/detail/{{ fav.ad.slug }}/{{ fav.ad._id }}' , target="_blank")
                    | {{ fav.ad.title }}
.ui.dimmer(ng-class="{active: loadingMyFavourites }")
    .ui.loader
