append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/item.min.css')

.ui.segment.no-segment
    .ui.divided.items
        | hey
.ui.dimmer(ng-class="{active: loadingProfile }")
    .ui.loader
