extends ../layout

append stylesheets

block content
    h2 Reset your password
    div.margin-bottom-30
        h4.no-margin-bottom Mehmet Seven
        span mehmetseven0@gmail.com

    form.ui.form#resetPaswordForm
        .two.fields
            .field
                input(name='password', type='password', placeholder='Password', ng-model='resetPasword.password')
        .two.fields
            .field
                input(name='passwordConfirm', type='password', placeholder='Confirm Password', ng-model="resetPasword.passwordConfirm")
        .ui.error.message
        .backendErr.ui.red.message(ng-if="resetPaswordErr")
            | {{ resetPaswordErr }}

        button.ui.right.icon.button.primary(form="resetPaswordForm", ng-class="resetPasswordBtnLoading ? 'loading disabled' : '' ")
            | Submit

append javascripts
    script(src="/dist/js/app/services/accountFactory.min.js")
    script(src="/dist/js/app/controllers/accountController.min.js")
