extends ../layout

append stylesheets

block content
    div(ng-controller="accountController")
        h2 Reset your password
        div.margin-bottom-30
            h4.no-margin-bottom #{ data.name } #{ data.surname }
            span #{ data.email }

        form.ui.form#resetPaswordForm
            .two.fields
                .field
                    input(name='password', type='password', placeholder='Password', ng-model='resetPasswordData.password')
            .two.fields
                .field
                    input(name='passwordConfirm', type='password', placeholder='Confirm Password', ng-model="resetPasswordData.passwordConfirm")
            .two.fields
                .field
                    .ui.error.message
            .backendErr.ui.red.message(ng-show="resetPaswordErr", ng-cloak)
                | {{ resetPaswordErr }}

            button.ui.right.icon.button.primary(form="resetPaswordForm", ng-class="resetPasswordBtnLoading ? 'loading disabled' : '' ")
                | Submit

append javascripts
    script(src="/dist/js/app/services/accountFactory.min.js")
    script(src="/dist/js/app/controllers/accountController.min.js")
