extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/button.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/popup.min.css')
    link(rel='stylesheet', type='text/css', href='dist/css/style.css')
    link(rel='stylesheet', type='text/css', href='dist/css/detail.css')

block content
    div(ng-controller="detailController")
        .ui.grid
            .ten.wide.column
                h1 Macbook Pro 15.5 Retina

            .six.wide.column.text-right.detail-right-menu
                .ui.right.floated.main.menu
                    a.music.popup.icon.item(data-content='Share with Facebook')
                        i.facebook.icon
                    a.music.popup.icon.item(data-content='Share with Twitter')
                        i.twitter.icon
                    a.music.popup.icon.item(data-content='Share with Google+')
                        i.google.plus.icon

                .ui.right.floated.main.menu
                    a.music.popup.icon.item(data-content='Add Favorites')
                        i.star.empty.icon




        .ui.grid
            .seven.wide.column
                a.ui.fluid.image(href='http://google.com')
                    img(src='https://semantic-ui.com/images/wireframe/image-text.png')

                .ui.tiny.images.detail-photo-list
                    img.ui.image(src='https://semantic-ui.com/images/wireframe/image.png')
                    img.ui.image(src='https://semantic-ui.com/images/wireframe/image.png')
                    img.ui.image(src='https://semantic-ui.com/images/wireframe/image.png')
                    img.ui.image(src='https://semantic-ui.com/images/wireframe/image.png')
                    img.ui.image(src='https://semantic-ui.com/images/wireframe/image.png')

            .nine.wide.column
                h2


append javascripts
    script(src="semantic/dist/components/popup.min.js")
    script(src="dist/js/app/controllers/detailController.min.js")
