extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/input.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/button.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/dimmer.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/modal.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/transition.min.css')


block content
    div(ng-controller="indexController")
        .ui.grid.stackable
            .eighteen.wide.column
                button.ui.primary.button.right.floated.right(ng-click="openNewAdModal()") New Ad

        .ui.grid.stackable.no-margin-bottom
            .four.wide.column
                .ui.card.margin-auto
                    .content
                        .right.floated.meta 14h
                        img.ui.avatara.image(href="#" src='http://lorempixel.com/20/20')
                        a.item-title(href="#") Elliot
                    a.image(href="#")
                        img(src="http://lorempixel.com/400/400/")
                    .content
                        span.right.floated
                            i.heart.outline.like.icon
                            |       17 likes
                        i.comment.icon
                        |     3 comments
            .four.wide.column
                .ui.card.margin-auto
                    .content
                        .right.floated.meta 14h
                        img.ui.avatara.image(href="#" src='http://lorempixel.com/20/20/sports')
                        a.item-title(href="#") Elliot
                    a.image(href="#")
                        img(src="http://lorempixel.com/400/400/sports")
                    .content
                        span.right.floated
                            i.heart.outline.like.icon
                            |       17 likes
                        i.comment.icon
                        |     3 comments
            .four.wide.column
                .ui.card.margin-auto
                    .content
                        .right.floated.meta 14h
                        img.ui.avatara.image(href="#" src='http://lorempixel.com/20/20/business')
                        a.item-title(href="#") Elliot
                    a.image(href="#")
                        img(src="http://lorempixel.com/400/400/business")
                    .content
                        span.right.floated
                            i.heart.outline.like.icon
                            |       17 likes
                        i.comment.icon
                        |     3 comments
            .four.wide.column
                .ui.card.margin-auto
                    .content
                        .right.floated.meta 14h
                        img.ui.avatara.image(href="#" src='http://lorempixel.com/20/20/city')
                        a.item-title(href="#") Elliot
                    a.image(href="#")
                        img(src="http://lorempixel.com/400/400/city")
                    .content
                        span.right.floated
                            i.heart.outline.like.icon
                            |       17 likes
                        i.comment.icon
                        |     3 comments
            .four.wide.column
                .ui.card.margin-auto
                    .content
                        .right.floated.meta 14h
                        img.ui.avatara.image(href="#" src='http://lorempixel.com/20/20/people')
                        a.item-title(href="#") Elliot
                    a.image(href="#")
                        img(src="http://lorempixel.com/400/400/people")
                    .content
                        span.right.floated
                            i.heart.outline.like.icon
                            |       17 likes
                        i.comment.icon
                        |     3 comments
            .four.wide.column
                .ui.card.margin-auto
                    .content
                        .right.floated.meta 14h
                        img.ui.avatara.image(href="#" src='http://lorempixel.com/20/20/transport')
                        a.item-title(href="#") Elliot
                    a.image(href="#")
                        img(src="http://lorempixel.com/400/400/transport")
                    .content
                        span.right.floated
                            i.heart.outline.like.icon
                            |       17 likes
                        i.comment.icon
                        |     3 comments
            .four.wide.column
                .ui.card.margin-auto
                    .content
                        .right.floated.meta 14h
                        img.ui.avatara.image(href="#" src='http://lorempixel.com/20/20/nature')
                        a.item-title(href="#") Elliot
                    a.image(href="#")
                        img(src="http://lorempixel.com/400/400/nature")
                    .content
                        span.right.floated
                            i.heart.outline.like.icon
                            |       17 likes
                        i.comment.icon
                        |     3 comments
            .four.wide.column
                .ui.card.margin-auto
                    .content
                        .right.floated.meta 14h
                        img.ui.avatara.image(href="#" src='http://lorempixel.com/20/20/technics')
                        a.item-title(href="#") Elliot
                    a.image(href="#")
                        img(src="http://lorempixel.com/400/400/technics")
                    .content
                        span.right.floated
                            i.heart.outline.like.icon
                            |       17 likes
                        i.comment.icon
                        |     3 comments

        .ui.grid.stackable
            .eighteen.wide.column.center.aligned
                .ui.pagination.menu
                    a.item
                        | Prev
                    a.active.item
                        | 1
                    a.item
                        | 2
                    .disabled.item
                        | ...
                    a.item
                        | 10
                    a.item
                        | 11
                    a.item
                        | 12
                    a.item
                        | Next


        .ui.modal
            i.close.icon
            .header
                | New Ad
            .image.content
                .ui.medium.image
                    img(src='https://semantic-ui.com/images/avatar2/large/rachel.png')
                .description
                    .ui.header We've auto-chosen a profile image for you.
                    p
                        | We've grabbed the following image from the
                        a(href='https://www.gravatar.com', target='_blank') gravatar
                        |  image associated with your registered e-mail address.
                    p Is it okay to use this photo?
            .actions
                .ui.black.deny.button
                    | Nope
                .ui.positive.right.labeled.icon.button
                    | Yep, that's me
                    i.checkmark.icon



append javascripts
    script(src="dist/js/app/controllers/indexController.min.js")
    script(src="semantic/dist/components/dimmer.min.js")
    script(src="semantic/dist/components/modal.min.js")
    script(src="semantic/dist/components/transition.min.js")