extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/input.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/loader.min.css')
    link(rel='stylesheet', type='text/css', href='dist/css/index.css')

block content

    div(ng-controller="indexController" ng-init="init()")
        .searchForm
            form.ui.form.fluid(ng-submit="onSubmit()")
                .field
                    .ui.icon.input
                        i.search.icon
                        input(ng-model='searchForm.title', placeholder='Search...', )

                div.advancedSearch
                    a(href="javascript:;" ng-click="advancedSearch()")
                        | Filter

                div.searchFormBottom(ng-show="advancedSearchVisible", ng-cloak)
                    .five.fields(country-and-category-dropdowns)

                    .field.text-right
                        .ui.button.primary(ng-click="onSubmit()", ng-class="indexAdsLoading ? 'loading disabled' : '' ")
                            | Search

        .ui.segment.list-segment
            .ui.grid.stackable.no-margin-bottom(ng-show="!indexAdsLoading" ng-cloak)
                .four.wide.column(ng-repeat="ad in ads")
                    a.ui.fluid.card.adCard(href="/detail/{{ ad.slug }}/{{ ad._id }}")
                        .image
                            img(ng-src='#{ amazon_base_url }/{{ ad.photos[ad.photoShowcaseIndex].filename }}')
                        .content
                            span {{ ad.title | limitTo: 16 }} {{ ad.title.length > 16 ? '...' : ''}}
            .ui.dimmer(ng-class="{ active:indexAdsLoading }")
                .ui.loader

            h1.text-center(ng-show="ads.length < 1", ng-cloak)
                | No results.

        .ui.grid.stackable
            .eighteen.wide.column.center.aligned
                .ui.pagination.menu
                    a.item
                        | Prev
                    a.active.item
                        | 1
                    a.item
                        | 2
                    .disabled.item
                        | ...
                    a.item
                        | 10
                    a.item
                        | 11
                    a.item
                        | 12
                    a.item
                        | Next

        .clearfix

append javascripts
    script(src="/dist/js/app/services/indexFactory.min.js")
    script(src="/dist/js/app/services/categoriesFactory.min.js")
    script(src="/dist/js/app/services/countriesFactory.min.js")
    script(src="/dist/js/app/directives/countryAndCategoryDropdowns.min.js")
    script(src="dist/js/app/controllers/indexController.min.js")
