extends layout

block content
    h1.ui.header= title
    p Welcome to #{title}
    p
        | A text container is used for the main container, which is useful for single column layouts
    img.wireframe(src='https://semantic-ui.com/examples/assets/images/wireframe/media-paragraph.png')
    img.wireframe(src='https://semantic-ui.com/examples/assets/images/wireframe/paragraph.png')
    img.wireframe(src='https://semantic-ui.com/examples/assets/images/wireframe/paragraph.png')
    img.wireframe(src='https://semantic-ui.com/examples/assets/images/wireframe/paragraph.png')
    img.wireframe(src='https://semantic-ui.com/examples/assets/images/wireframe/paragraph.png')
    img.wireframe(src='https://semantic-ui.com/examples/assets/images/wireframe/paragraph.png')
    img.wireframe(src='https://semantic-ui.com/examples/assets/images/wireframe/paragraph.png')