extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/input.min.css')
    link(rel='stylesheet', type='text/css', href='css/index.css')

block content
    div(ng-controller="indexController")
        .ui.grid.stackable.no-margin-bottom
            .four.wide.column
                a.ui.fluid.card.adCard
                    .image
                        img(src='https://semantic-ui.com/images/avatar/large/daniel.jpg')
                    .content
                        span Daniel Louise


        .ui.grid.stackable
            .eighteen.wide.column.center.aligned
                .ui.pagination.menu
                    a.item
                        | Prev
                    a.active.item
                        | 1
                    a.item
                        | 2
                    .disabled.item
                        | ...
                    a.item
                        | 10
                    a.item
                        | 11
                    a.item
                        | 12
                    a.item
                        | Next

append javascripts
    script(src="dist/js/app/controllers/indexController.min.js")
