extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/input.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/loader.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/label.min.css')
    link(rel='stylesheet', type='text/css', href='dist/css/index.css')

block content

    div(ng-controller="indexController" ng-init="init()")
        .ui.sidebar.inverted.vertical.left.menu.filterSidebar
            form.ui.form.sidebarFilterForm
                country-and-category-dropdowns

                .field.text-right.margin-top-10
                    .ui.button.primary(ng-click="onSubmit(true)", ng-class="indexAdsLoading ? 'loading disabled' : '' ")
                        | Search

        .search
            .fixer
            .searchForm
                form.ui.form.fluid(ng-submit="onSubmit()")
                    .ui.action.input.fluid
                        input(type='text', ng-model='searchForm.title', placeholder='Search...')
                        button.ui.button.primary(type="submit", ng-class="indexAdsLoading ? 'loading disabled' : '' ") Search

                    .advancedSearch.ui.container.mobile.tablet.only.grid.padding-top-10
                        a.ui.button.white(href="javascript:;" ng-click="toggleFilterSidebar()")
                            | Filter

                    div.searchFormBottom.ui.container.computer.only.grid
                        .five.fields(country-and-category-dropdowns)

                        .field.text-right
                            .ui.button.primary(ng-click="onSubmit()", ng-class="indexAdsLoading ? 'loading disabled' : '' ")
                                | Search

                        .clearfix

        h2(ng-show="isSearch && resultNumber > 0", ng-cloak) We found {{ resultNumber }} results.
        .ui.segment.list-segment
            .ui.grid.no-margin-bottom(ng-show="!indexAdsLoading" ng-cloak)
                .doubling.four.column.row
                    .column.margin-bottom-10(ng-repeat="ad in ads")
                        a.ui.fluid.card.adCard(href="/detail/{{ ad.slug }}/{{ ad._id }}")
                            .image.cardListImage
                                .ui.left.corner.orange.label(ng-show="ad.totalPower > 0")
                                    .cardPowerNumber
                                        | {{ ad.totalPower }}
                                img(ng-src='#{ amazon_base_url }/{{ ad.photos[ad.photoShowcaseIndex].filename }}', ng-show="{{ ad.photos !== null }}")
                                img(ng-src='/img/no-photo.png', ng-show="{{ ad.photos === null }}")
                            .content
                                span {{ ad.title | limitTo: 16 }} {{ ad.title.length > 16 ? '...' : ''}}
            .ui.dimmer(ng-class="{ active:indexAdsLoading }")
                .ui.loader

            h1.text-center(ng-show="ads.length < 1", ng-cloak)
                | No results.

        | #{i18n.__("Welcome")}

        .ui.grid.stackable
            .eighteen.wide.column.center.aligned
                .ui.pagination.menu
                    a.item
                        | Prev
                    a.active.item
                        | 1
                    .disabled.item
                        | ...
                    a.item
                        | 12
                    a.item
                        | Next

        .clearfix

append javascripts
    script(src="/dist/js/app/services/indexFactory.min.js")
    script(src="/dist/js/app/services/categoriesFactory.min.js")
    script(src="/dist/js/app/services/countriesFactory.min.js")
    script(src="/dist/js/app/directives/countryAndCategoryDropdowns.min.js")
    script(src="dist/js/app/controllers/indexController.min.js")
