extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/input.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/segment.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/loader.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/index.css')

block content
    div(ng-controller="indexController" ng-init="init()")
        .ui.segment.list-segment
            .ui.grid.stackable.no-margin-bottom(ng-show="!indexAdsLoading" ng-cloak)
                .four.wide.column(ng-repeat="ad in ads")
                    a.ui.fluid.card.adCard(href="/detail/{{ ad.slug }}/{{ ad._id }}")
                        .image
                            img(ng-src='uploads/{{ ad.uuid }}/{{ ad.photos[ad.photoShowcaseIndex].filename }}')
                        .content
                            span {{ ad.title }}
            .ui.dimmer(ng-class="{ active:indexAdsLoading }")
                .ui.loader



        .ui.grid.stackable
            .eighteen.wide.column.center.aligned
                .ui.pagination.menu
                    a.item
                        | Prev
                    a.active.item
                        | 1
                    a.item
                        | 2
                    .disabled.item
                        | ...
                    a.item
                        | 10
                    a.item
                        | 11
                    a.item
                        | 12
                    a.item
                        | Next

        .clearfix

append javascripts
    script(src="dist/js/app/controllers/indexController.min.js")
