doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

        title= title
            |  - EasyAd

        block stylesheets
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/reset.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/site.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/container.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/grid.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/header.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/image.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/menu.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/divider.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/list.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/segment.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/dropdown.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/icon.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/form.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/message.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/label.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/button.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/dimmer.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/modal.min.css')
            link(rel='stylesheet', type='text/css', href='semantic/dist/components/transition.min.css')
            link(rel='old stylesheet', href='dist/css/style.css')

    body(ng-app="app" ng-controller="layoutController")
        .ui.fixed.inverted.menu
            .ui.container
                a.header.item(href='/')
                    img.logo(src='img/logo.png')
                    | &nbsp; &nbsp;  &nbsp; &nbsp; Easy Ads
                a.item(href='/') Home
                .ui.simple.dropdown.item
                    | Dropdown
                    i.dropdown.icon
                    .menu
                        a.item(href='#') Link Item
                        a.item(href='#') Link Item
                        .divider
                        .header Header Item
                        .item
                            i.dropdown.icon
                            |             Sub Menu
                            .menu
                                a.item(href='#') Link Item
                                a.item(href='#') Link Item
                        a.item(href='#') Link Item
                .right.menu
                    if !user
                        a.item.no-before(href='javascript:;', ng-click="openSignUpModal()") Sign Up
                        a.item(href='javascript:;', ng-click="openSignInModal()") Sign In
                    else
                        a.item(href='/profile')= user.name
                        a.item(href='/logout') Logout
                    .item
                        a.ui.primary.button.right.floated.right(href="/newAd") New Ad

        .ui.main.container.aligned
            block content

        .ui.inverted.vertical.footer.segment
            .ui.center.aligned.container
                .ui.stackable.inverted.divided.grid
                    .three.wide.column
                        h4.ui.inverted.header Group 1
                        .ui.inverted.link.list
                            a.item(href='#') Link One
                            a.item(href='#') Link Two
                            a.item(href='#') Link Three
                            a.item(href='#') Link Four
                    .three.wide.column
                        h4.ui.inverted.header Group 2
                        .ui.inverted.link.list
                            a.item(href='#') Link One
                            a.item(href='#') Link Two
                            a.item(href='#') Link Three
                            a.item(href='#') Link Four
                    .three.wide.column
                        h4.ui.inverted.header Group 3
                        .ui.inverted.link.list
                            a.item(href='#') Link One
                            a.item(href='#') Link Two
                            a.item(href='#') Link Three
                            a.item(href='#') Link Four
                    .seven.wide.column
                        h4.ui.inverted.header Footer Header
                        p
                            | Extra space for a call to action inside the footer that could help re-engage users.
                .ui.inverted.section.divider
                img.ui.centered.mini.image(src='img/logo.png')
                .ui.horizontal.inverted.small.divided.link.list
                    a.item(href='#') Site Map
                    a.item(href='#') Contact Us
                    a.item(href='#') Terms and Conditions
                    a.item(href='#') Privacy Policy

        // modals
        // SignUp Modal
        .ui.modal.tiny#signUpModal
            i.close.icon
            .header
                | Sign Up
            .content
                .ui.grid.stackable.no-margin-bottom
                    .eight.wide.column
                        button.ui.facebook.button.fluid
                            i.facebook.icon
                            |   Sign Up with Facebook
                    .eight.wide.column
                        button.ui.google.plus.button.fluid
                            i.google.plus.icon
                            |   Sign Up with Google

                .ui.horizontal.divider
                    | Or

                form.ui.form#signUpForm
                    .two.fields
                        .field
                            //label Name
                            input(name='name', placeholder='Name', ng-model='signupForm.name')
                        .field
                            //label Surname
                            input(name='surname', placeholder='Surname', ng-model='signupForm.surname')
                    .two.fields
                        .field
                            //label E-mail
                            input(name='email', placeholder='E-mail', ng-model='signupForm.email')
                        .field
                            //label Phone Number
                            input(name='number', placeholder='Phone Number', ng-model="signupForm.phone")
                    .two.fields
                        .field
                            input(name='password', type='password', placeholder='Password', ng-model='signupForm.password')
                        .field
                            input(name='passwordConfirm', type='password', placeholder='Confirm Password', ng-model="signupForm.passwordConfirm")
                    .ui.error.message
                    .backendErr.ui.red.message(ng-if="signUpErr")
                        | {{ signUpErr }}


            .actions
                button.ui.right.icon.button(form="signUpForm", ng-class="registerBtnLoading ? 'loading' : '' ")
                    | Sign Up

        // SignIn Modal
        .ui.modal.mini#signInModal
            i.close.icon
            .header
                | Sign In
            .content
                .ui.grid.stackable.no-margin-bottom
                    .sixteen.wide.column
                        button.ui.facebook.button.fluid
                            i.facebook.icon
                            |   Sign In with Facebook
                    .sixteen.wide.column.no-padding-top
                        button.ui.google.plus.button.fluid
                            i.google.plus.icon
                            |   Sign In with Google

                .ui.horizontal.divider
                    | Or

                form.ui.form#signInForm
                    .fields.ui.grid
                        .field.sixteen.wide.column
                            //label E-mail
                            input(name='email', placeholder='E-mail', ng-model='loginFormData.email')
                        .field.sixteen.wide.column.no-padding-top
                            input(name='password', type='password', placeholder='Password', ng-model='loginFormData.password')
                    .ui.error.message
                    .backendErr.ui.red.message(ng-if="signInErr")
                        | {{ signInErr }}


            .actions
                button.ui.right.icon.button(form="signInForm", ng-class="signInBtnLoading ? 'loading' : '' ")
                    | Sign In


    block javascripts
        script(src="angular/angular.min.js")
        script(src="dist/js/app/main.min.js")
        script(src="jquery/dist/jquery.min.js")
        script(src="dist/js/app/controllers/layoutController.min.js")
        script(src="semantic/dist/components/dimmer.min.js")
        script(src="semantic/dist/components/modal.min.js")
        script(src="semantic/dist/components/transition.min.js")
        script(src="semantic/dist/components/form.min.js")
        script(src="semantic/dist/components/dropdown.min.js")