doctype html
html
    head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(rel='stylesheet', href='/dist/css/style.css')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')

    body
        block content

    block javascripts
        script(src="angular/angular.min.js")
        script(src="bootstrap/dist/js/bootstrap.min.js")