extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/input.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/checkbox.min.css')


block content
    div(ng-controller="newAdController")
        form.ui.form.fluid#newAdForm
            .fields.two
                .field.wide.twelve
                    label Title
                    input(name='name', placeholder='Title', ng-model='newAdForm.title')
                .field.wide.four
                    label Price
                    .ui.right.labeled.input
                        input(type='text', placeholder='Price')
                        .ui.basic.label
                            | USD
            .field
                label Description
                textarea(name='surname', ng-model='newAdForm.description')
            .five.fields
                .field
                    label Country
                    .ui.compact.selection.dropdown
                        input(type='hidden', name='country')
                        .default.text Country
                        i.dropdown.icon
                        .menu
                            .item(data-value='female') Iran
                            .item(data-value='male') Turkey
                .field
                    label City
                    .ui.compact.selection.dropdown
                        input(type='hidden', name='city')
                        .default.text City
                        i.dropdown.icon
                        .menu
                            .item(data-value='female') Iran
                            .item(data-value='male') Turkey
                .field
                    label District
                    .ui.compact.selection.dropdown
                        input(type='hidden', name='district')
                        .default.text District
                        i.dropdown.icon
                        .menu
                            .item(data-value='female') Iran
                            .item(data-value='male') Turkey
                .field
                    label Group 1
                    .ui.compact.selection.dropdown
                        input(type='hidden', name='')
                        .default.text Group 1
                        i.dropdown.icon
                        .menu
                            .item(data-value='female') Iran
                            .item(data-value='male') Turkey
                .field
                    label Group 2
                    .ui.compact.selection.dropdown
                        input(type='hidden', name='')
                        .default.text Group 2
                        i.dropdown.icon
                        .menu
                            .item(data-value='female') Iran
                            .item(data-value='male') Turkey

            .ui.tiny.images.stacked.segment
                .text-center
                    .small.ui.button
                        i.upload.icon
                        | Upload Photos
            .field.ui.segment


                .ui.grid
                    .sixteen.wide.column
                        .ui.checkbox
                            input.hidden(type='checkbox', tabindex='0')
                            label Use another person tel number and name
                    .sixteen.wide.column.no-padding-top#anotherContact(ng-if="anotherContact.checked", ng-cloak)
                        .fields.two
                            .field.wide.eight
                                input(name='anotherContactName', placeholder='Contact Name', ng-model='newAdForm.title')
                            .field.wide.eight
                                input(name='anotherContactPhone', placeholder='Contact Phone Number')


            .ui.error.message
            .backendErr.ui.red.message(ng-if="newAdErr", ng-cloak)
                | {{ newAdErr }}

            button.ui.right.floated.primary.button(form="newAdForm", ng-class="newAdBtnLoading ? 'loading' : '' ")
                | Submit Ad


append javascripts
    script(src="dist/js/app/controllers/newAdController.min.js")
    script(src="semantic/dist/components/checkbox.min.js")