extends layout

append stylesheets
    link(rel="stylesheet" href="/dist/css/privacy-policy.css")

block content
    .ui.main.container.subPage
        h1 Privacy Policy
        div This privacy policy will help you understand how Nemofila uses and protects the data such as information to identify, contact, locate, email, phone number, website, name as a user or business owner that you provide to us when you visit and use Nemofia (www.Nemofila.com).Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.The terms "we", "us", "our" and "Nemofila" mention to www.Nemofila.com.If you choose to use our Service, then you agree to the collection and use of information in relation with this policy.We reserve the right to change this policy at any given time, of which you will be promptly updated. If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page.

        h2 Privacy and Policy Titles

        ul
            li What personal information do we collect from the people that visit our blog, website or app?
            li How do we use your information?
            li How do we protect your information?
            li Do we use 'cookies'?
            li Third parties
            li Third-party links
            li Termination your account
            li Children’s Privacy
            li Changes to This Privacy Policy
            li Contact Information


        h3 1.  What personal information do we collect from the people that visit our blog, website or app?
        div We may collect and store information about you When registering or claim your business (or you have chosen by Nemofila member group and add to Nemofila) on our site, as appropriate, you may be asked to fulfill your information like, name, last name, email address, location, phone number, credit card, registration photo, advertising photos, your website address or other details to help you with your experience.


        h3 2. How do we use your information?
        div We may use the information we collect from you when you register, claim your business, subscribe, respond to a survey or marketing communication, surf the website, or use certain
            b  other site features in the following ways:

        br

        ul.circle
            li To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.
            li To improve our website in order to better serve you.
            li To allow us to better service you in responding to your customer service requests.
            li To administer a contest, promotion, survey or other site feature.
            li To supply feedback to third party businesses.
            li To ask for ratings and reviews of services or products.
            li To follow up with them after correspondence (live chat, email or phone inquiries)
            li To show publicly your commerce, advertising, account profile to the audience to find easily your business (services or products) and you can change the information of account or advertising. you can report us to remove if you believe that somebody creates an unauthorized fake account with your likeness or your identity.
            li To show relevant advertising, track use of the Service, send a message to you, improve the security of the service, market the service.
            li To provide feedback to third party businesses.
            li To allow us to back up our systems and recovery after a failure and comply with legal obligations.
            li To quickly process your transactions.
            li To display the information that you assign in our Service for the public, including your photos, compliments, reviews, comments, likes, Events, bookmarks, lists, videos, and account profile. We may display this information into the Service, share it with business owners, and share it with a huge number of the audience within third-party websites and services.
            li To access your Facebook, twitter, google account if you sign up with those, like the profile picture, name, age, gender, and account information. you can share our website, advertisement with your social media when you like it.
            li To store information when you surf in our website, such as the page viewed, your online activities like search, bookmarks, your likes, reviews, the date and time of your visit Nemofila also all of your messages through Nemofila that you send or receive. We also collect some information from your computer or device when you visit Nemofila, such as your session data, browser type, type of computer or mobile device, browser language, IP address, mobile carrier, phone number, referring website, advertising identifier. Our goals in collecting this automatic information are to help us understand the interests and preferences of our users and customize your user experience.
            li To find your location if you allow us (including geolocation, beacon-based location, and GPS location), to better serve you to find our categories nearby or for writing a review. You can change the privacy setting of your device every time in order to turn off the functionality to share location information in the browser or mobile device.
            li To send an email to you for reminding your interests, preferences, events, promotions. you can opt out emails by clicking on unsubscribe link below the emails.
            li To send an email that you note in sign up page, after submitting an advertisement to inform the business owner and help them to know the state of advertising.









