extends layout

append stylesheets
    link(rel="stylesheet" href="/dist/css/privacy-policy.css")

block content
    .ui.main.container.subPage
        h1 Privacy Policy
        div This privacy policy will help you understand how Nemofila uses and protects the data such as information to identify, contact, locate, email, phone number, website, name as a user or business owner that you provide to us when you visit and use Nemofia (www.Nemofila.com).Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.The terms "we", "us", "our" and "Nemofila" mention to www.Nemofila.com.If you choose to use our Service, then you agree to the collection and use of information in relation with this policy.We reserve the right to change this policy at any given time, of which you will be promptly updated. If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page.

        h2 Privacy and Policy Titles

        ul
            li What personal information do we collect from the people that visit our blog, website or app?
            li How do we use your information?
            li How do we protect your information?
            li Do we use 'cookies'?
            li Third parties
            li Third-party links
            li Termination your account
            li Children’s Privacy
            li Changes to This Privacy Policy
            li Contact Information


        h3 1.  What personal information do we collect from the people that visit our blog, website or app?
        div We may collect and store information about you When registering or claim your business (or you have chosen by Nemofila member group and add to Nemofila) on our site, as appropriate, you may be asked to fulfill your information like, name, last name, email address, location, phone number, credit card, registration photo, advertising photos, your website address or other details to help you with your experience.


        h3 2. How do we use your information?
        div We may use the information we collect from you when you register, claim your business, subscribe, respond to a survey or marketing communication, surf the website, or use certain
            b  other site features in the following ways:

        br

        ul.circle
            li To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.
            li To improve our website in order to better serve you.
            li To allow us to better service you in responding to your customer service requests.
            li To administer a contest, promotion, survey or other site feature.
            li To supply feedback to third party businesses.
            li To ask for ratings and reviews of services or products.
            li To follow up with them after correspondence (live chat, email or phone inquiries)
            li To show publicly your commerce, advertising, account profile to the audience to find easily your business (services or products) and you can change the information of account or advertising. you can report us to remove if you believe that somebody creates an unauthorized fake account with your likeness or your identity.
            li To show relevant advertising, track use of the Service, send a message to you, improve the security of the service, market the service.
            li To provide feedback to third party businesses.
            li To allow us to back up our systems and recovery after a failure and comply with legal obligations.
            li To quickly process your transactions.
            li To display the information that you assign in our Service for the public, including your photos, compliments, reviews, comments, likes, Events, bookmarks, lists, videos, and account profile. We may display this information into the Service, share it with business owners, and share it with a huge number of the audience within third-party websites and services.
            li To access your Facebook, twitter, google account if you sign up with those, like the profile picture, name, age, gender, and account information. you can share our website, advertisement with your social media when you like it.
            li To store information when you surf in our website, such as the page viewed, your online activities like search, bookmarks, your likes, reviews, the date and time of your visit Nemofila also all of your messages through Nemofila that you send or receive. We also collect some information from your computer or device when you visit Nemofila, such as your session data, browser type, type of computer or mobile device, browser language, IP address, mobile carrier, phone number, referring website, advertising identifier. Our goals in collecting this automatic information are to help us understand the interests and preferences of our users and customize your user experience.
            li To find your location if you allow us (including geolocation, beacon-based location, and GPS location), to better serve you to find our categories nearby or for writing a review. You can change the privacy setting of your device every time in order to turn off the functionality to share location information in the browser or mobile device.
            li To send an email to you for reminding your interests, preferences, events, promotions. you can opt out emails by clicking on unsubscribe link below the emails.
            li To send an email that you note in sign up page, after submitting an advertisement to inform the business owner and help them to know the state of advertising.


        h3 3. How do we protect your information?
        div Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible. your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology. we implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information. all transactions are processed through a gateway provider and are not stored or processed on our servers. we use Secure Connection that you can see it on the left of the web address of your browser, it has written Secure. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.

        h3 4. Do we use 'cookies'?
        div Yes. Cookies and similar technology are small files that a site or its service provider transfers to your computer's hard drive through your Web browser that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies or similar technology to help us remember and process the items in your shopping cart and sign up state. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. Cookies may be persistent or stored only during an individual session. we also may use web beacons to help us estimate the effectiveness of our content and other offerings.
        h4 We may use cookies to:
        ul.circle
            li Collection information and to improve our services.
            li Keep track of advertisements.
            li Tells us whether you have to allow us to use your geolocation data.
            li If you register on our site, we may use cookies to remember your registration information, so you do not need to log into our site each time you visit us. It is possible to choose to turn off (but not all) cookies. You do this through your browser settings or mobile device settings. Since the browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.

        b If users disable cookies in their browser:
        div If you turn cookies off it will turn off some of the services of the site.


        h3 5. Third Parties
        div We may share your information with the following items:
        br
        ul.circle
            li We may share information about you with third parties, such as advertising identifiers, location data, common account identifier (like an email address), except for payment information, to facilitate the show of targeted advertising. That is so better to read our privacy policies, terms of use, and other policies of all websites and the third party that connected to us. Maybe these suppliers contact you as necessary to take additional information about you to facilitate your requirements.
            li We may share with the third party who provide services or functions on our behalf, including customer service, marketing, business analytics, payment processing, public relations, distribution of surveys, hosting services, network security, technical and tracking and reporting functions and other functions, so that they can do their services or complete your requests or to simplify the delivery of online advertisement appropriate to your interests. Third-party vendors according to their privacy policy share your information.
            li We may share summation information with third parties, like as the number of users that have been exposed to, or clicked on, advertisements with the advertisers and content distributors.
            li You can share or sign up with third party social media websites and services through our site (such as Facebook, Twitter, Google+, ...). When you do so, you are sharing information with those sites, and the information you share will be related to their privacy policies. Note that you can modify your privacy settings with those third-party social media websites.
            li We may share your personal information, with our parent companies and indoor and corporate affiliate companies and websites. With this sharing we can provide you the information about products and services, might be interested in you. They have access to your information, as the practices described in this Privacy Policy. You may be able to limit commercial email you receive by click on the link above the emails.
            li We will disclose your personal information where required to do so by law, court orders, subpoena,order arising from legal processes and administrative or criminal investigation, detection or prosecution of criminal acts or to prevent other damage, or if we reasonably believe that such action is necessary to (a) comply with the law and the reasonable requests of law enforcement; (b) to enforce our Terms of Use or to protect the security, quality or integrity of our Service; and/or (c) to exercise or protect the rights, property, or personal safety of Nemofila, our Users, or others.


        h3 6. Third-party links
        div We are not responsible for the practices employed by websites or services linked to or from the Service, including the information or content contained therein. Please remember that when you use a link to go from the Service to another website, our Privacy Policy does not apply to third-party websites or services. Your browsing and interaction on any third-party website or service, including those that have a link or advertisement on our website, are subject to that third party’s own rules and policies. In addition, you agree that we are not responsible and we do not control over any third-parties that you authorize to access your User Content. If you are using a third-party website or service (like Facebook, Google groups, or an IRC chatroom) and you allow such a third-party access to the user content you do so at your own risk. This Privacy Policy does not apply to information we collect by other means (including offline) or from other sources other than through the Service.

        h3 7. Termination your account
        div Following termination of your User account, we may retain your private profile information for a commercially reasonable time for backup, archival, or audit purposes. For the avoidance of doubt to prevent, investigate, or identify possible wrongdoing in connection with the Service or to comply with legal obligations and also any information that you choose to make public on the service may not be removable. Please note that businesses with closing their accounts cannot remove their business ratings, listings, or reviews.

        h3 8. Children’s Privacy
        div Our Services do not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.

        h3 9. Changes to This Privacy Policy
        div We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.

        h3 10. Contact Information
        div If you have any questions or suggestions about our Privacy Policy, do not hesitate to
            a(href="/contact")  contact us.





















