extends layout

block content
    .ui.main.container.subPage
        include partials/profile/menu
            
        .ui.grid
            .twelve.wide.column right

            .four.wide.column
                b #{i18n.__("Profile Picture")}
                img.ui.medium.rounded.image.margin-top-10(src="https://avatars2.githubusercontent.com/u/1716620?s=400&u=b9fac9866b8c060e0069f6c47ee0b3883264d8e6&v=4")

                div.margin-top-10.text-center
                    .ui.button  #{i18n.__("Upload new picture")}

appen block javascripts
