extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='/dist/css/profile.css')

block content
    .ui.main.container.subPage(
        ng-controller="profileController",
        ng-init="init('#{ amazon_base_url }', '#{ JSON.stringify(profile_locales) }')"
    )

        include partials/profile/menu

        div.contentArea(ng-view='')



append javascripts
    script(src="dist/js/app/controllers/profileController.min.js")

    // Buy Power
    script(src="https://checkout.stripe.com/checkout.js")
    script(src="/dist/js/app/stripe.min.js")
    script(src="/dist/js/app/filters/range.min.js")
    script(src="/dist/js/app/services/profile/buyPowerFactory.min.js")
    script(src="/dist/js/app/controllers/profile/buyPowerController.min.js")

    // MyAds
    script(src="/dist/js/app/services/profile/myAdsFactory.min.js")
    script(src="/dist/js/app/controllers/profile/myAdsController.min.js")

    // MyEvents
    script(src="/dist/js/app/services/eventFactory.min.js")
    script(src="/dist/js/app/controllers/profile/myEventsController.min.js")

    // Messages
    script(src="/dist/js/app/services/profile/myMessageFactory.min.js")
    script(src="/dist/js/app/controllers/profile/messagesController.min.js")

    // MyFavourites
    script(src="/dist/js/app/services/profile/myFavouritesFactory.min.js")
    script(src="/dist/js/app/controllers/profile/myFavouritesController.min.js")

    script(src="/semantic/dist/components/dimmer.min.js")
    script(src="/semantic/dist/components/modal.min.js")
    script(src="/semantic/dist/components/transition.min.js")
