extends layout

block append stylesheets

block content
    .ui.main.container.subPage(ng-controller="profileEditController")
        include partials/profile/menu

        .ui.grid
            .twelve.wide.column left

            .four.wide.column
                b #{i18n.__("Profile Picture")}
                img.ui.medium.rounded.image.margin-top-10(src="#{ user.profilePictureUrl }")

                div.margin-top-10.text-center
                    .ui.button(
                        ngf-select='onPhotoSelect()', ng-model='picFile', accept='image/*'
                    )
                        | #{i18n.__("Upload new picture")}


        include partials/modals/uploadProfilePicture

block append javascripts
    script(src="/dist/js/app/controllers/profileEditController.min.js")
