extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='dist/css/search.css')

block content
    .ui.main.container.subPage
        | Lorem

append javascripts
    script(src="dist/js/app/controllers/searchController.min.js")
