extends layout

append stylesheets
    link(rel="stylesheet" href="/dist/css/terms.css")

block content
    .ui.main.container.subPage
        h1 Terms and conditions
        div Welcome to Nemofila, These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. This web site (“www.Nemofila.com) is refer to ("we", "us" or "our"). The use of this Site and the content and information available on this Site (collectively the "Services") shall be subject or content to acceptance of and compliance with the terms and conditions set forth in these terms of use (collectively, the "Terms of Use") and elsewhere on this Site.

        br
        ul.listArea.indent
            li
                b (a) &nbsp;
                | "Content" means all forms of data or communication such as text, photos, images, audio, video, location data. "Your Content" means the information that you display publicly or displayed in your account profile such as content that you send, write or supply to, through, or in connection with us, such as ratings,  compliments, reviews, invitations, messages, and "User Content" means Content that users send, write or supply to, through, or in connection with us. "Our Content" means content that we provide and publish in our website for you. "Third Party Content" means content that parties other than us or their users provide and submit in our website. "Site Content" means all of the Content that publish in our website such as Your Content, User Content, Third Party Content, and Our Content.

            li
                b (b) &nbsp;
                |  The terms "you," "your", "yours", "member" "members" and "yourself" refer to all visitors and members to this Site. Your agreement to comply with and be bound by these Terms of Use is deemed to occur upon your first use of the Site. If you do not agree to these Terms of Use, you should not review information or obtain goods, services or products from this Site. we have the total right to edit or delete any content in the Site, including this Agreement, without notifying you.

        h2 USING THE SITE
        ul
            li Please notice the all information provide with you must be true, accurate, current and complete, Your use of the Site is in your own responsibility, even the Content that is offensive, inaccurate, indecent, objectionable, or otherwise inappropriate.
            li If you are an owner of an account on this website, you are solely responsible for maintaining the confidentiality of your private user details (username and password). You are responsible for all activities that occur under your account or password and also if the other person use your account. We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.
            li This Website is not for use by any minors (defined as those who are not at least 18 years of age), and you must not use this Website if you a minor.
            li You are solely responsible for any information that you share with us, because this information may be share with the third parties .
            li We do not warrant that this Site will always be accessible, uninterrupted, timely, secure, damaging code, perhaps we modified, updated, suspended or discontinued at any time without any warning.
            li The entire communication with us is email. You hereby consent to receive communications from us. If you subscribe or register to our website, you are going to receive newsletter from us. you might receive message from other Users.You can opt-out of non-essential communications by clicking a link above to email.


        h2 SUBMISSIONS
        ul
            li You may post reviews of products or services, comments, suggestions, ideas or other messages (collectively referred to as “Submissions”) so long as the content of your Submission is not unlawful, threatening, abusive, spiteful, defamatory, invasive of privacy, obscene, profane, sexually explicit, intentionally, copyright, moral right, privacy right, right of publicity, raffles, advertising, contests, patent, trademark, trade secret, free of software viruses, political campaign, commercial solicitation, fraudulent or otherwise objectionable or injurious to third parties (including, but not limited to, any content that encourages conduct that would constitute a criminal offense, give rise to civil liability, or otherwise violate applicable law). You can’t disclosure information of any third party, including, without their limitation, surname (family name) addresses, phone numbers, email addresses, Social Security numbers and credit card numbers. You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of your Submission. we reserve the right (but not the obligation) to monitor, edit and remove, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such Submission in any media. which may endanger Nemofila or the affiliates that work with us or the users to any harm or liability of any type.
            li You are solely responsible for your content and everything you publish in our website be store and you can’t withdrawn them. Content that impersonates any person or entity or otherwise misrepresents your affiliation with a person or entity.
            li We store your contents and use them in several ways, such as displaying publicly, give them new format, combining into advertisements and other works, advance them, give out them, and allowing others to do the same in connection with their own websites and media platforms ("Other Media"). You let us and everyone who visit or use (means copy, publicly perform and display, translate, distribute, reproduce, modify, analyze, remove, commercialize, and prepare derivative works of Your Content) our website irrevocably, use Your Content for any purpose such as perpetual, non-exclusive, royalty-free, assignable, sublicensable, transferable rights, users of our site and all of media in worldwide. You hereby waive all moral rights to any such Submissions, and you hereby warrant that any such Submissions are original with you or that you have the right to submit such Submissions. You agree there shall be no recourse against us for any alleged or actual infringement or misappropriation of any proprietary right in your Submissions.
            li All editorial content, information, photographs, illustrations, artwork and other graphic materials, and names, logos and trademarks on this Site are protected by copyright laws, trademark laws, international treaties, and belong to us and our suppliers, as the case may be. These works, aggregate user review ratings, trade names, logos, graphics, sounds or images may not be copied, reproduced, retransmitted, distributed, disseminated, sold, published, broadcasted or circulated whether in whole or in part, unless expressly permitted by us and our suppliers, as the case may be. Nothing contained on the Site should be construed as granting by implication, estoppel, or otherwise, any license or right to use any trademark displayed on the Site without our written permission. Misuse of any trademarks or any other content displayed on the Site is prohibited. We will not hesitate to take legal action against any unauthorised usage of its trademarks, name or symbols to preserve and protect its rights in the matter. All rights not expressly granted herein are reserved. Other product and company names mentioned herein may also be the trademarks of their respective owners.
            li We may publicly display advertisements and your contents or other information relevant their.
            li Your Content must be your own and must not be infringing on any third party’s rights. we reserve the right to remove or modify any of Your Content from this Website at any time, and for any reason, without notice.  For example maybe we remove a review if we believe, it violates and not relevant to topics.
            li You acknowledge and agree that any questions, comments, suggestions, ideas, feedback, or other information regarding the Site ("Submissions") provided by you to us are non-confidential and shall become our sole property. We shall own exclusive rights, including all intellectual property rights, and shall be entitled to the unrestricted use and dissemination of these Submissions for any lawful purpose, commercial or otherwise, without acknowledgment or compensation to you. You hereby waive all moral rights to any such Submissions, and you hereby warrant that any such Submissions are original with you or that you have the right to submit such Submissions. You agree there shall be no recourse against us for any alleged or actual infringement or misappropriation of any proprietary right in your Submissions.

        h2 Restrictions
        div You are expressly and absolutely restricted from all of the following:
        ul
            li Systematically retrieve data or other content from the Site to create or compile, modify, distribute, translate, sell and trade directly or indirectly, a collection, compilation, for purposes of constructing searchable database, or directory such as reviews without permission from us.
            li Make any unauthorized use of the Site, including collecting usernames and email addresses of users by electronic or other means for the purpose of sending unsolicited email, or creating user accounts by automated means or under false pretenses.
            li Decipher, decompile, reverse engineer, disassemble, attempt to derive the source code of, or decrypt the application or website.
            li Remove, alter, or obscure any proprietary notice (including any notice of copyright or trademark) posted by us or the licensors of the application.
            li Use or record, the information about other users of our website.
            li Engage in unauthorized reformat, framing of or linking to the Site.
            li Circumvent, disable, or otherwise interfere with security-related features of the Site, or another computer network, crack passwords or security encryption codes including features that prevent or restrict the use or copying of any Content or enforce limitations on the use of the Site and the Content contained therein.
            li Trick, defraud, hacking or mislead us and other users, especially in any attempt to learn sensitive account information such as user passwords mining, and also any action to make extreme traffic requests.
            li Delete the copyright, trademark or other proprietary rights notice from any contents or other properties of the site.
            li Make improper use of our support services or submit false reports of abuse or misconduct.
            li Use any software or device to interfere or harm our website.
            li Engage in any automated use of the system, such as using scripts to send comments or messages, or using any data mining, robots, spider,  or other automated device and extraction tools.
            li Use any information obtained from the Site in order to harass, abuse, or harm another person.
            li Use the Site as part of an effort to compete with us or otherwise use the Site and the Content for any revenue-generating endeavor or commercial enterprise.
            li Attempt to bypass any measures of the Site designed to prevent or restrict access to the Site, or any portion of the Site.
            li Sell or otherwise transfer your profile.
            li Copy or adapt the Site’s software, including but not limited to Flash, HTML, JavaScript, or other code.
            li Interfere with, disrupt, or create an undue burden on the Site or the networks or services connected to the Site.
            li Attempt to impersonate another user or person or use the username of another user.
            li Upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material, including excessive use of capital letters and spamming (continuous posting of repetitive text), that interferes with any party’s uninterrupted use and enjoyment of the Site or modifies, impairs, disrupts, alters, or interferes with the use, features, functions, operation, or maintenance of the Site.
            li Disparage, tarnish, or otherwise harm, in our opinion, or the Site.
            li Use the Site in a manner inconsistent with any applicable laws or regulations and violate the Terms

        div.margin-top-30 Certain areas of this Website are restricted from being access by you and we may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.


        h2 PRIVACY POLICY
        div
            | We care about data privacy and security. Please review our Privacy Policy posted on the Site. By using the Site, you agree to be bound by our Privacy Policy, which is incorporated into these Terms of Use. Please be advised the Site is hosted in the EU.
            br
            br
            | If you access the Site from the United States and other region of the world with laws or other requirements governing personal data collection, use, or disclosure that differ from applicable laws in the EU, then through your continued use of the Site, you are transferring your data to the EU, and you expressly consent to have your data transferred to and processed in the EU(European Union).
            br
            br
            | We will disclose your personal information where required to do so by law, court orders, subpoena,order arising from legal processes and administrative or criminal investigation, detection or prosecution of criminal acts or to prevent other damage, or if we reasonably believe that such action is necessary to (a) comply with the law and the reasonable requests of law enforcement; (b) to enforce our Terms of Use or to protect the security, quality or integrity of our Service; and/or (c) to exercise or protect the rights, property, or personal safety of Nemofila, our Users, or others.



        h3 Third Party
        div
            | The Site may contain (or you may be sent via the Site) links to other websites or application ("Third-Party Websites") as well as articles, photographs, text, graphics, pictures, designs, music, sound, video, information, applications, software, and other content or items belonging to or originating from third parties ("Third-Party Content").
            br
            br
            | Such Third-Party Websites and Third-Party Content are not investigated, monitored, or checked for accuracy, appropriateness, or completeness by us, and we are not responsible for any Third Party Websites accessed through the Site or any Third-Party Content posted on, available through, or installed from the Site, including the content, accuracy, offensiveness, opinions, reliability, privacy practices, or other policies of or contained in the Third-Party Websites or the Third-Party Content.
            br
            br
            | The Inclusion of, linking to, or permitting the use or installation of any Third-Party Websites or any Third-Party Content does not imply approval or endorsement thereof by us. If you decide to leave the Site and access the Third-Party Websites or to use or install any Third-Party Content, you do so at your own risk, and you should be aware these Terms of Use no longer govern.
            br
            br
            | You should review the applicable terms and policies, including privacy and data gathering practices, of any website to which you navigate from the Site or relating to any applications you use or install from the Site. Any purchases you make through Third-Party Websites will be through other websites and from other companies, and we take no responsibility whatsoever in relation to such purchases which are exclusively between you and the applicable third party.


        h3 INDEMNIFICATION
        div You agree to defend, indemnify, and hold us harmless, including our subsidiaries, affiliates, and all of our respective officers, agents, partners, and employees, from and against any loss, damage, liability, claim, or demand, including reasonable attorneys’ fees and expenses, made by any third party due to or arising out of: (1) all products or services purchased or taken by you through use of the Site; (2) use of the Site; (3) breach of these Terms of Use; (4) any breach of your representations and warranties set forth in these Terms of Use; (5) your violation of the rights of a third party, including but not limited to intellectual property rights; or (6) any overt harmful act toward any other user of the Site with whom you connected via the Site. Notwithstanding the foregoing, we reserve the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us, and you agree to cooperate, at your expense, with our defense of such claims. We will use reasonable efforts to notify you of any such claim, action, or proceeding which is subject to this indemnification upon becoming aware of it.


        h3 DISCLAIMER AND EXCLUSION OF LIABILITY
        div
            | PLEASE READ THIS SECTION OF SITE CAREFULLY, THIS SECTION LIMITS OUR LIABILITY TO YOU FOR ISSUES THAT MAY ARISE IN CONNECTION WITH YOUR USE OF THIS WEBSITE, IF YOU ARE USING THE SITE MEANS YOU READ, UNDERSTAND AND AGREE WITH ALL OF THE TERMS, OTHERWISE BEFORE TAKING ANY ACTIONS BASED UPON SUCH INFORMATION, WE ENCOURAGE YOU TO CONSULT WITH THE APPROPRIATE PROFESSIONALS.
            br
            br
            | THE SITE IS PROVIDED ON AN AS-IS AND AS-AVAILABLE BASIS. YOU AGREE THAT YOUR USE OF THE SITE SERVICES WILL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SITE AND YOUR USE THEREOF, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE SAFETY, SECURITY, ACCURACY OR COMPLETENESS OF THE SITE’S CONTENT OR THE CONTENT OF ANY WEBSITES LINKED TO THIS SITE AND VALIDATION OF THE BUSINESS LISTINGS, RATINGS, REVIEWS SUCH AS THEIR CONTENT, LOCATION, AND DISPLAY INFORMATION, METRICS CREATE, USED ON BY OUR SITE. WE WILL ASSUME NO LIABILITY OR RESPONSIBILITY FOR ANY (1) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT AND MATERIALS, (2) PERSONAL INJURY OR PROPERTY DAMAGE, BUSINESS DAMAGE OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE SITE (FOR EXAMPLE IF SOMEBODY WRITE A NEGATIVE EXPERIENCE THROUGH THE REVIEW FOR YOUR LISTING BUSINESS), (3) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (4) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SITE, (5) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE SITE BY ANY THIRD PARTY, AND/OR (6) ANY ERRORS OR OMISSIONS IN ANY CONTENT AND MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SITE. WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE SITE, ANY HYPERLINKED WEBSITE, OR ANY WEBSITE OR MOBILE APPLICATION FEATURED IN ANY BANNER OR OTHER ADVERTISING LISTING IN OUR WEBSITE, AND WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND ANY THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.


        h3 LIMITATIONS OF LIABILITY
        div IN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, RELIANCE, SPECIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOST PROFIT, LOST REVENUE, LOSS OF INFORMATION OR DATA, REPUTATIONAL HARM, BUSINESS INTERRUPTION OR OTHER DAMAGES ARISING FROM YOUR USE OF THE SITE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. [NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, OUR LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO [THE LESSER OF] [THE AMOUNT PAID, IF ANY, BY YOU TO US DURING THE 12 MONTH PERIOD PRIOR TO ANY CAUSE OF ACTION ARISING TO LIABILITY [OR] 100$. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.]


        h3 TERM AND TERMINATION
        div
            | These Terms of Use shall remain in full force and effect while you use the Site. WITHOUT LIMITING ANY OTHER PROVISION OF THESE TERMS OF USE, WE RESERVE THE RIGHT TO, IN OUR SOLE DISCRETION AND WITHOUT NOTICE OR LIABILITY, DENY ACCESS TO AND USE OF THE SITE (INCLUDING BLOCKING CERTAIN IP ADDRESSES), TO ANY PERSON FOR ANY REASON OR FOR NO REASON, INCLUDING WITHOUT LIMITATION FOR BREACH OF ANY REPRESENTATION, WARRANTY, OR COVENANT CONTAINED IN THESE TERMS OF USE OR OF ANY APPLICABLE LAW OR REGULATION. WE MAY TERMINATE YOUR USE OR PARTICIPATION IN THE SITE OR DELETE [YOUR ACCOUNT AND] ANY CONTENT OR INFORMATION THAT YOU POSTED AT ANY TIME, WITHOUT WARNING, IN OUR SOLE DISCRETION.
            | Please review our &nbsp;
            a(href="/privacy-policy") Privacy Policy
            | &nbsp; for information about what we do with your account when terminated.


        h3 MODIFICATIONS AND INTERRUPTIONS
        ul
            li We reserve the right to change,update, modify, or remove  the contents of the Site at any time or for any reason at our sole discretion without notice. However, we have no obligation to update any information on our Site. We also reserve the right to modify or discontinue all or part of the Site without notice at any time.
            li We will not be liable to you or any third party for any modification, price change, suspension, or discontinuance of the Site and you are the sole responsible of using the third-parties sites or apps as we wrote above in Third Party section.
            li We cannot guarantee the Site will be available at all times. We may experience hardware, software, or other problems or need to perform maintenance related to the Site, resulting in interruptions, delays, or errors. We reserve the right to change, revise, update, suspend, discontinue, or otherwise modify the Site at any time or for any reason without notice to you.
            li We may send you a notices, after changes of the Terms by email through the Site or notice you while using the site.
            li You agree that we have no liability whatsoever for any loss, damage, or inconvenience caused by your inability to access or use the Site during any downtime or discontinuance of the Site. Nothing in these Terms of Use will be construed to obligate us to maintain and support the Site or to supply any corrections, updates, or releases in connection therewith.
            li These Terms of Use operate to the fullest extent permissible by law. We may assign any or all of our rights and obligations to others at any time. We shall not be responsible or liable for any loss, damage, delay, or failure to act caused by any cause beyond our reasonable control.
            li If any provision or part of a provision of these Terms of Use is determined to be unlawful, void, or unenforceable, that provision or part of the provision is deemed severable from these Terms of Use and does not affect the validity and enforceability of any remaining provisions. There is no joint venture, partnership, employment or agency relationship created between you and us as a result of these Terms of Use or use of the Site.
            li We are an advertising and affiliate website, the advertising owner solely responsible on advertising and their links, contents and jobs.
            li The Terms and any rights or obligations have written here are assignable, transferable or sublicensable only by Nemofila, we may be change or assigned without restriction. Any action assignment by you shall violate these Terms.
            li We may find you and submit your information in our site and send an email to you to inform, you can accept or reject by email or modify it, if you didn’t receive email and see your advertising information in our site you can contact us to own it.


        h3 CHANGES TO TERMS OF USE
        div These Terms of Use may be modified from time to time. Any modifications to these Terms of Use will be effective upon posting new terms. You should therefore read these Terms of Use before you place any order. We will posting a notice on the Site prior to the effective date of the changes. Your continued use of the Site after any modifications to the Terms of Use indicates your acceptance of the modified Terms of Use.

        h4 Contact Information
        div
            | If you have any questions or suggestions about our Privacy Policy, do not hesitate to &nbsp;
            a(href="/contact") contact us
            | .

