.adCard{
    color:#000
}
.adCard:hover{
    color:#333
}
.list-segment{
    padding:0!important;
    border: none !important;
    box-shadow: none !important;
    min-height: 300px
}
.searchForm{
    padding: 10px;
    background: url('/img/search-bg.jpg') !important;
}
.advancedSearch{
    text-align: right;
}
.searchFormBottom{
    padding-bottom: 60px
}
