.photoList{
    border-radius:0 !important;
}
.photoListImage{
    height:90px!important;
    display: inherit!important;
    overflow: hidden;
}
.photoListImage img{
    max-width: 161px!important;
    width: auto!important;
    margin:auto!important;
    border-radius:0 !important;
}
.noRadius{
    border-radius:0 !important;
}
.terms{
    font-size:12px;
    padding:10px 0
}

#workTimesForm .row > .column, .center{
}

.timeDropdowns > div > div{
   /* display: none!important;*/
    margin-top:-8px
}

.workTimeSettingsDisplay{
    display: none!important;
}
