body {
  background-color: #FFFFFF;
}
.clearfix{
    clear:both !important;
}
.hidden{
    display: none;
}
.i-block{
    display: inline-block;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 7em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.no-before:before{
    display: none
}

.margin-auto{
    margin:0 auto!important;
}
.no-margin{
    margin:0
}
.no-margin-top{
    margin-top: 0 !important;
}
.no-margin-bottom{
    margin-bottom: 0 !important;
}
.no-margin-left{
    margin-left:0 !important;
}
.no-margin-right{
    margin-right:0 !important;
}

.margin-bottom-30{
    margin-bottom:30px!important;
}

.padding{
    padding:0
}
.no-padding-top{
    padding-top: 0 !important;
}
.no-padding-bottom{
    padding-bottom:0 !important;
}
.no-padding-left{
    padding-left:0 !important;
}
.no-margin-right{
    padding-right:0 !important;
}

.text-center{
    text-align: center!important;
}
.text-right{
    text-align: right!important;
}
.item-title{
    color:#000;
    margin-left: .4em !important;
}

.upload-photo-thumb{
    max-height: 90px!important;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100%;
    border: 1px groove #ddd;
    margin-top: 20px;
    height:25px;
}

.progress div {
    background: orange;
    width: 30px;
    line-height:23px;
    font-size:11px;
    text-align:center
}

.no-segment{
    box-shadow:none !important;
    padding:0 !important;
    border:none !important;
}

.addFav{
    color: inherit;
}
.addFav i{
    font-size: 1.1em
}
.addFav:hover i{
    color: #333
}

.no-segment{
    padding:0!important;
    border: none !important;
    box-shadow: none !important;
    min-height: 60px
}
