extends ../layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/segment.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/loader.min.css')

block content
    div(ng-controller="adsController", ng-init="init()")
        .ui.segment.no-segment
            table.ui.table
                thead
                    tr
                        th Ad Title
                        th Name of Owner
                        th Created At
                        th Status
                        th Detail
                tbody
                    tr(
                        ng-repeat="ad in ads",
                        ng-class="{ warning: ad.status == 0,  negative: ad.status == 2 || ad.status == 4}"
                    )
                        td {{ ad.title }}
                        td {{ ad.user.name }} {{ ad.user.surname }}
                        td(am-time-ago='ad.createdAt')
                        td {{ ad.status == 0 ? 'waiting' : '' || ad.status == 2 ? 'rejected' :'' || ad.status == 4 ? 'unpublished' :'' }}
                        td.text-right
                            a.ui.button.icon.mini(
                                href="ads/edit/{{ad._id}}"
                            )
                                i.edit.icon
            .ui.dimmer(ng-class="{active: loadingAds }")
                .ui.loader

append javascripts
    script(src='/dist/js/admin/app/services/adsFactory.min.js')
    script(src='/dist/js/admin/app/controllers/adsController.min.js')
