extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/segment.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/loader.min.css')

block content
    div(ng-controller="adsController", ng-init="init()")
        .ui.segment.no-segment
            table.ui.definition.table
                thead
                    tr
                        th
                        th Ad Title
                        th Name of Owner
                        th Created At
                        th Status
                        th Preview
                tbody
                    tr(
                        ng-repeat="ad in ads",
                        ng-class="{warning: !ad.status}"
                    )
                        td.collapsing
                            .ui.fitted.slider.checkbox
                                input(
                                    type='checkbox',
                                    ng-checked="ad.status"
                                )
                                label
                        td {{ ad.title }}
                        td {{ ad.user.name }} {{ ad.user.surname }}
                        td(am-time-ago='ad.createdAt')
                        td {{ ad.status ? 'approved' : 'waiting' }}
                        td.text-right
                            a.ui.button.icon.mini(href="")
                                i.eye.icon
            .ui.dimmer(ng-class="{active: loadingAds }")
                .ui.loader

append javascripts
    script(src='/dist/js/admin/app/services/adsFactory.min.js')
    script(src='/dist/js/admin/app/controllers/adsController.min.js')
