extends layout

block body
	form.ui.form(ref='altyazitestForm', action='/manage/altyazitesti', method='post', enctype='multipart/form-data')
		.ui.grid
			.six.wide.column.field
				.sixteen.wide.column.field.margin-bottom-20
					label Drive ID
					input(type='text', name='driveId')
				.sixteen.wide.column.field.margin-bottom-20
					label Altyazı
					input#file(type='file', name='subtitle')

				button.ui.button.primary.clearing.submitBtn(type='submit') Test

			.ten.wide.column.field.text-center
				label Preview
				#videoPlayer


block append javascripts
	script(src="/dist/js/admin/app/newController.min.js")
	script(src="/dist/js/admin/new_film.min.js")
	script(src='/javascripts/jwplayer/jwplayer.js')
	script.
		var subtitleName = '!{(subtitleName)}';
		var subtitle = "/subtitle-test/"+ subtitleName;

		jwplayer.key="FzCRWjEzh4r2yaFZ5HuyxLiewyzZfdUkW9Ks/g==";
		jwplayer("videoPlayer").setup({
			height: 330,
			width: "100%",
			// image: background
			sources: !{(source)},
			tracks: [{ 
				file: subtitle, 
				label: "Test Subtitle",
				kind: "captions",
				"default": true 
			}],
			captions: {
				fontSize: 48,
				backgroundOpacity: 50
		    }
		});