extends layout


block content
    div(ng-controller="categoryController", ng-init="init()")
        .ui.grid
            .two.column.row
                .column
                    b Categories
                    .ui.vertical.menu.countryList
                        a.item(ng-repeat="category in categories.list track by $index", ng-click="selectCategory($index)")
                            | {{ category.name }}
                            i.remove.icon(ng-click="deleteCategory($index)")
                        .item
                            .ui.transparent.icon.input
                                form(ng-submit="saveCategory()")
                                    input(type='text', placeholder='Add new...', ng-model="categories.form.category.name")
                                i.add.icon

                .column(ng-if="visibles.subCategory")
                    b Sub Categories
                    .ui.vertical.menu.countryList
                        a.item(ng-repeat="subCategory in categories.list[categories.selected.index].subCategories track by $index", ng-click="selectCity($index)")
                            | {{ subCategory.name }}
                            i.remove.icon(ng-click="deleteSubCategory($index)")
                        .item
                            .ui.transparent.icon.input
                                form(ng-submit="saveSubCategory()")
                                    input(type='text', placeholder='Add new...', ng-model="categories.form.subCategory.name")
                                i.add.icon

append javascripts
    script(src='/dist/js/admin/app/controllers/categoryController.min.js')
