extends layout


block content
    .ui.grid
        .three.column.row
            .column
                .ui.vertical.menu
                    a.active.item
                        | Turkey
                    a.item
                        | Spain
                    a.item
                        | Iran
                    .item
                        .ui.transparent.icon.input
                            input(type='text', placeholder='Add new...')
                            i.add.icon

            .column
                | orta
            .column
                | sağ
