extends layout


block content
    div(ng-controller="countryController", ng-init="init()")
        .ui.grid
            .three.column.row
                .column
                    .ui.vertical.menu
                        a.item(ng-repeat="country in countries.list")
                           | {{ country.name }}
                        .item
                            .ui.transparent.icon.input
                                form(ng-submit="saveCountry()")
                                    input(type='text', placeholder='Add new...', ng-model="countries.form.country.name")
                                i.add.icon

                .column
                    | orta
                .column
                    | sağ

append javascripts
    script(src='/dist/js/admin/app/controllers/countryController.min.js')
