extends layout

block content
    div(ng-controller="countryController", ng-init="init()")
        .ui.grid
            .three.column.row
                .column
                    b Countries
                    .ui.vertical.menu.countryList
                        a.item(ng-repeat="country in countries.list track by $index", ng-click="selectCountry($index)")
                            | {{ country.name }}
                            i.remove.icon(ng-click="deleteCountry($index)")
                        .item
                            .ui.transparent.icon.input
                                form(ng-submit="saveCountry()")
                                    input(type='text', placeholder='Add new...', ng-model="countries.form.country.name")
                                i.add.icon

                .column(ng-if="visibles.cities")
                    b Cities
                    .ui.vertical.menu.countryList
                        a.item(ng-repeat="city in countries.list[countries.selected.index].cities track by $index", ng-click="selectCity($index)")
                            | {{ city.name }}
                            i.remove.icon(ng-click="deleteCity($index)")
                        .item
                            .ui.transparent.icon.input
                                form(ng-submit="saveCity()")
                                    input(type='text', placeholder='Add new...', ng-model="countries.form.city.name")
                                i.add.icon
                .column(ng-if="visibles.district")
                    b Districts
                    .ui.vertical.menu.countryList
                        a.item(ng-repeat="district in countries.list[countries.selected.index].cities[city.selected.index].districts track by $index")
                            | {{ district.name }}
                            i.remove.icon(ng-click="deleteDistrict($index)")
                        .item
                            .ui.transparent.icon.input
                                form(ng-submit="saveDistrict()")
                                    input(type='text', placeholder='Add new...', ng-model="countries.form.district.name")
                                i.add.icon

append javascripts
    script(src='/dist/js/admin/app/controllers/countryController.min.js')
