.ui.modal.tiny#forgotModal
    i.close.icon
    .header
        | Forgot My Password
    .content
        div(ng-show="!emailSended" ng-cloak)
            form.ui.form#forgotForm
                .fields.ui.grid
                    .field.sixteen.wide.column.no-padding-top.no-padding-bottom
                        //label E-mail
                        input(name='email', placeholder='E-mail', ng-model='forgotFormData.email', autocapitalize="none")
                .ui.error.message
                .backendErr.ui.red.message(ng-if="forgotErr")
                    | {{ forgotErr }}

        div(ng-show="emailSended" ng-cloak)
            .ui.success.message
                .header
                    | Check your email.
                p
                    | We've sent an email to
                    b {{ forgotFormData.email }}.
                    |  Click the link in the email to reset your password.

                p If you don't see the email, check other places it might be, like your junk, spam, social, or other folders.



    .actions
        button.ui.right.icon.button.primary(
        form="forgotForm",
        ng-class="forgotBtnLoading ? 'loading disabled' : '' ",
        ng-show="!emailSended"
        )
            | Submit
