a.fa.fa-arrow-left(href='/')
.error
	h1 404
	p We're sorry but it looks like that page doesn't exist anymore.

link(rel='stylesheet', href='components-font-awesome/css/font-awesome.min.css')
link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
link(rel="stylesheet", type="text/css", href="dist/css/error/404.css")