link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')

link(rel="stylesheet", href="/dist/css/error404.css")

.error
	a.fa.fa-arrow-left(href='http://google.com')
	.error
		h1 404
		h2 #{ message }

