extends ../layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='/dist/css/admin/print.css')
    link(rel='stylesheet', type='text/css', href='/semantic-ui-calendar/dist/calendar.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/segment.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/loader.min.css')

block content
    div(ng-controller="reportsController", ng-init="init()")
        .ui.segment.no-segment
            table.ui.table
                thead
                    tr
                        th Message
                        th Created At
                        th Detail
                tbody
                    tr(
                        ng-repeat="report in reports"
                    )
                        td {{ report.message }}
                        td(am-time-ago='report.createdAt')
                        td.text-center
                            a.ui.button.icon.mini(
                                href="reports/detail/{{ report._id }}"
                            )
                                i.eye.icon
            .ui.dimmer(ng-class="{ active: loadingReports }")
                .ui.loader

append javascripts
    script(src='/dist/js/admin/app/services/reportsFactory.min.js')
    script(src='/dist/js/admin/app/controllers/reportsController.min.js')
